.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  border-block-end: 1px solid var(--colors-divider);
  background-color: var(--colors-bg-primary);
}
